<html>
  <head></head>
  <body>
    <h1>Guess the secret number (hint: it's between 0 and 100)</h1>
    <form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />  
</form>
    <p>    
        <%# <%= guess %> 
       <%= message %>              
    </p>
  </body>
</html>


