    <h1 id="title"><%= @title%></h1>

    <div id="recipe-form">
      <form action="/" method="POST">
        <div>
          <label for="recipe_name">Recipe Name:</label>
          <input type="name" class="input" name="name" required><br><br>
        </div>
    
        <div>
          <label for="prep_time">Prep Time (in minutes):</label>
          <input type="number" class="input" name="prep_time"><br><br>
        </div>
    
        <div id="textarea">
          <label for="description">Description:</label>
          <textarea id="description" name="description" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea><br><br>
        </div>
    
        <div id="url">
          <label for="recipe_url">Recipe Image Link:</label>
          <input type="url" id="recipe_url" name="url"><br><br>   
        </div>

        <input class="submit" type="submit" value="Add Recipe">
    </form>
  </div>