require_relative '../stuff.rb'
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">   
    <title>To Do List</title>
  </head>
  <body>
    <h1>Second page</h1>
    <ul>
    <% @list.each do |item| %>
    <li><%= item %></li>
    <% end %>
    </ul>

    <p>
      <% @time %>
    </p>
  </body>
</html>
